html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    height: 1500px; /* FOR TESTING !REMOVE! */
}

.navbar {
    overflow: hidden;
    background-color: #111;
    max-height: 48px !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #111;
    position:fixed;
    top: 0;
}

h1 {
    font-size:1vw;
    font-family:Cambria;
    color: white;
}


.navbar a:hover {
    background-color: rgb(4 170 109 / 0.19);
}

.navbar a.glow {
    background-color: #04AA6D;
}


.container {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    font-family:Cambria;
    color: white;

  }

body {
    background-color: #181818;
}

.homeButton {
    height: 17px;
    width: 20px;
}

.splashImg{
    height: 100%;
    width: 100%;
}

.contact {
    background-color: red;
    width: 50%;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form {
    padding: 0px 50px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

input[type=file] { /*This Needs Fixing - Tutorial: https://www.quirksmode.org/dom/inputfile.html */
    width: 40%;
    background-color: #04AA6D;
    color: black;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 100%;
}

input[type=submit] {
    width: 40%;
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

input[type=submit]:hover {
    background-color: rgb(4 170 109 / 0.19);
}

input[type=submit]:active{
    background-color: #04AA6D;
}